body {
  padding-left: 50px;
  padding-right: 50px;  
  background-color: #DDF3FE;
    font-family: 'Vollkorn', serif;
}
header {
  max-width: 1300px;  
  margin: 0 auto 0 auto;
  padding: 25px;
    background-color: #AFE4FF;
}
a {
    color: black;
}
.image {
  max-width: 100%;
  height: auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #FFFFBE;
}
main {
    margin: 0px auto 50px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1300px;
    align-items: center;
    background-color: #FFFFF0;
}
h1 {
    font-family: 'Homemade Apple', cursive;
}
div.rox {
  vertical-align: middle;
}
.content {
  margin-top: 50px;
  padding: 50 25 auto 25;
}
div.content div {
  padding-bottom: 50px;
}
img {
  max-width: 100%;
  height: auto;
}
#hamburger-nav {
    display: none;
}

/*hamburger code from jonsuh hamburgers

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

end hamburger code*/

@media (max-width: 767px) {
  body {
    padding: none;
  }  
  #hamburger-nav {
        display: block;
      }
      #primary-nav {
        max-height: 0px;
      }
      #primary-nav .nav {
        flex-direction: column;
      }
      /* Here, we override the rule when the body has a class of nav-open */
      body.nav-open #primary-nav {
        max-height: 400px;
      }
}

@media (max-width: 390px) {
    .row {
      flex-direction: column;
    }
}
/* css for the calendar on Events Page */
