body {
    font-family: 'Nunito', sans-serif;
}
main {
    max-width: 1440px;
}
h1 {
    font-family: 'Lemon', cursive;
}
div.col-sm-6 > picture > img {
    max-width: 100%;
    height: auto;
}
nav {
    background-color: #9ADBF4;
    padding: 40px;
}
#hamburger-nav {
    display: none;
}
nav > div.row {
    max-width: 1440px;
}
nav > div.row > div > picture > img {
    width: 100%;
    min-width: 80px;
    height: auto;
}
nav, a {
    color: black;
}
div.yellow {
    background-image: url("../project-4/project-4-images/yellow-bubbles.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
div.magenta {
    background-image: url("../project-4/project-4-images/magenta-bubbles.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
div.orange {
    background-image: url("../project-4/project-4-images/orange-bubbles.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}
#magenta-right {
    background-position-x: right;

}
@media (max-width: 767px) {
    h1 {
        font-size: 20pt;
    }
}
@media (max-width: 450px) {
    h1 {
        font-size: 18pt;
    }
}
@media (max-width: 576px) {
    #primary-nav {
        display: none;
        width: 0px;
        height: 0px;
    }
    #hamburger-nav {
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
    }
    main > div > div.row {
      flex-direction: column;
    }
    #soda-pic {
        order: 1;
    }
    #pick-soda {
        order: 2;
    }
    #combine-pic {
        order: 5;
    }
    #combine {
        order: 6;
    }
    h1 {
        font-size: 16pt;
    }
    div.yellow, div.magenta, div.orange {
        background-position-y: bottom;
        background-size: contain;
    }
    div.copy {
        padding: 33% 0%;
    }
}

/* About Page Specific */
div.solid-yellow {
    background-color: #FDF6AD;
}
div.left-align {
    text-align: left;
}
div.left-align > h1 {
    margin-bottom: 50px;
}